include:
- "compose/forgejo.yaml"
- "compose/nextcloud.yaml"

services:
  cloudflared:
    image: "cloudflare/cloudflared:2025.11.1"
    restart: "unless-stopped"
    command: ["tunnel", "run"]
    environment:
    - "TUNNEL_TOKEN_FILE=/run/secrets/cloudflared-token"
    secrets:
    - "cloudflared-token"
    networks:
    - "internet"
    - "cloudflared"

networks:
  internet:
    internal: false
  cloudflared:
    internal: true

secrets:
  cloudflared-token:
    environment: "CLOUDFLARED_TOKEN"
